.organization-repos-list-header-explanation {
  font-size: 0.6em;
  font-weight: normal;
  font-style: italic;
}

.organization-repos-list-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.organization-repost-list-counter {
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
}

.organization-repost-list-counter-info {
  font-style: normal;
  font-size: 1.1em;
}

.organization-repos-list-wrapper {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

ul.organization-repos-list {
  margin: 0;
  list-style-type: none;
  padding: 2px;
  padding-right: 10px;

  overflow: auto;
}

li.organization-repo:not(:last-child) {
  margin-bottom: 10px;
}
