.app {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
}

.app-header {
  width: 100vw;
  background-color: white;
  height: 6rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
}

#header-title-logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

#header-logo {
  width: 4rem;
  height: 4rem;
}

#header-title {
  flex: 1;
  text-align: center;
  font-style: oblique;
  font-size: x-large;
  font-weight: bold;
}
